*{
    margin: 0;
    padding: 0;
    font-family: "Geist Mono", monospace;
}
img{
    max-width: 100%;
}

body{
    background: #F8EBDA url("img/paper-bg.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 40px;
}

.container .box{
    max-width: 600px;
    position: relative;
}
.container .env-wrap{
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

/* text */
.top-txt,
.bottom-txt{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #551023;
    font-size: 2.2em;
    position: absolute;
    top: 35%;
}
.bottom-txt{
    top: unset;
    bottom: -10%;
}

.env-opend{
    width: 100%;
}

.env-closed,
.env-topFlap,
.env-msg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.env-closed,
.env-opend,
.env-topFlap{
    border-radius: 15px;
    transition: all .3s ease;
}

.env-closed{
    z-index: 8;
    transition: none;
}
.env-opend{z-index: 9;}
img.env-topFlap{
    z-index: 12;
    transition: all 0s ease;
}

.env-msg{
    transition: opacity 0s ease;
    width: 100%;
    opacity: 0;
    z-index: 10;

    transform: translateY(30%);
}
.msg-txt{
    font-family: "Caveat", cursive;
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 1.3em 1.2em;
}
#dynamic-msg{
    font-family: "Caveat", cursive;
}

/* Toggle Animation */
.env-wrap:not(.active) .env-opend,
.env-wrap:not(.active) .env-topFlap{
    opacity: 0;
}
.env-wrap .env-topFlap{
    transition: none;
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.8));
}
.env-wrap.active .env-closed{
    opacity: 0;
    transition-delay: 0.2s;
}

.env-wrap.active .env-msg{
    transition: all 0.3s ease;
    opacity: 1;
    transition-delay: 0.3s;

    transform: translateY(-40%);
}

@media (max-width:767px){
    .top-txt,
    .bottom-txt{
        font-size: 1.5em;
    }
    .msg-txt{
        padding: 1em;
        font-size: 1.8em;
    }
}
